.channel-dashboard {
  padding: 40px;
  margin-top: 60px;
  max-width: 1100px;
}

.dashboard-title {
  margin-bottom: 25px;
}

/* CARD CONTAINERS */
.dashboard-card {
  background: linear-gradient(218deg,rgba(245, 245, 245, 1) 47%, rgba(196, 196, 196, 1) 100%);
  border-radius: 14px;
  padding: 24px;
  margin-bottom: 30px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

/* SECTION TITLES */
.dashboard-section-title {
  margin-bottom: 12px;
}

.dashboard-section-info {
    font-size: 15px;
}

.dashboard-subtitle {
  margin-bottom: 12px;
}

/* CHANNEL LIST */
.dashboard-channel-list {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  margin-bottom: 14px;
}

.dashboard-channel-card {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  background: white;
  border-radius: 10px;
  cursor: pointer;
}

.dashboard-channel-active {
  border: 2px solid #065fd4;
}

.dashboard-channel-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.dashboard-channel-name {
  font-weight: 600;
}

/* BUTTONS */
.dashboard-primary-btn,
.dashboard-secondary-btn {
  padding: 10px 18px;
  border-radius: 20px;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

.dashboard-primary-btn {
  background: #065fd4;
  color: white;
}

.dashboard-primary-btn:hover {
  background: #054aa8;
}

.dashboard-secondary-btn {
  background: #e5e5e5;
}

.dashboard-secondary-btn:hover {
  background: #d5d5d5;
}

.dashboard-form-actions {
  display: flex;
  gap: 10px;
}

/* FORMS */
.dashboard-form {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 450px;
}

.dashboard-input {
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* VIDEOS */
.dashboard-video-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.dashboard-video-card {
  width: 180px;
}

.dashboard-video-thumb {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.dashboard-video-title {
  font-size: 14px;
  font-weight: 500;
  margin: 6px 0;
}

.dashboard-video-actions {
  display: flex;
  gap: 8px;
}

.edit-btn {
  background: #f2f2f2;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
}

.delete-btn {
  background: #ff4d4d;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
}

.delete-btn:hover {
  background: #e60000;
}

.dashboard-error {
  margin-top: 120px;
  text-align: center;
  font-size: 20px;
  color: #606060;
}
